@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f1fff0;
}

.kontak {
    display: flex;
    margin: 180px auto 100px auto;
    justify-content: space-between;

    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 40px;

    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top > .title {
    font-size: 30px;
}

.top > .name {
    font-size: 16px;
}

.input > .bottom > form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 80%;
}

.bottom > form > input {
    border: none;
    border-bottom: 0.5px solid #103337;
    background: transparent;
    outline: none;
    font-size: 16px;

    padding: 5px 10px;
}

.bottom > form > input::placeholder {
    font-weight: 300;
}

.bottom > form > button {
    border: none;
    outline: none;
    background-color: #103337;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;

    border-radius: 10px;
    font-weight: bold;
}

.informasi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #103337;
    border-bottom-left-radius: 20px;
    padding: 80px;
    gap: 30px;

    width: 100%;
}

.informasi > .top > .title {
    color: #fff;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middle > .data > .name > a {
    text-decoration: none;
    color: #fff;
}

.middle > .data {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #fff;
}

.bottom > .media-sosial {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.media-sosial > a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
