<footer>
    <div class="footer-content">
        <div class="content">
            <h1 class="title">Kontak</h1>
            <ul class="links">
                <li>0866-990-506</li>
                <li><a href="mailto:mudavisualindonesia@gmail.com" target="_blank">mudavisualindonesia@gmail.com</a></li>
                <li>Jl. KH. Ahmad Dahlan No.65-83, Kp. Tengah, Kec. Sukajadi, Kota Pekanbaru, Riau 28122 Pekanbaru, Riau, Indonesia 28122</li>
            </ul>
        </div>
        <div class="content">
            <h1 class="title">Layanan kami</h1>
            <ul class="links">
                <li><a href="/">Beranda</a></li>
                <li><a href="/tentang_kami">Tentang kami</a></li>
                <li><a href="/produk">Layanan / Produk</a></li>
                <li><a href="/kontak">Kontak</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="logo">
                <img src="{{ url_for('static', filename='image/mudvis_logo_white.png') }}" alt="Muda Visual Logo Putih" />
                <h1 class="nama">Muda Visual</h1>
            </div>

            <div class="medsos">
                <a href="https://www.instagram.com/mudavisualindonesia" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61555730963437" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://api.whatsapp.com/send/?phone=6281266990506" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://linktr.ee/mudavisual" target="_blank"><i class="fa-solid fa-link"></i></a>
            </div>
        </div>
    </div>

    <p class="copy">Copyright © 2024 All rights reserved | made by Arceus</p>
</footer>
